<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DICOM Image Viewer</title>
</head>

<body>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept=".dcm">
        <input type="submit" value="Upload">
    </form>
    {% if png_filename %}
    <img src="{{ url_for('show_image', filename=png_filename) }}" alt="DICOM Image">
    {% endif %}
    {% if error %}
    <p style="color: red;">Error: {{ error }}</p>
    {% endif %}
</body>

</html>